body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2e;
    color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background: #2b2b3c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    max-width: 1200px;
    width: 90%;
    margin: 90px 0;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.back-button {
    background-color: #934a4a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: static; /* Keeps the button within the header layout */
    flex-shrink: 0; /* Prevents the button from resizing */
}

.back-button:hover {
    background-color: #934a4a;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

.back-button span {
    margin-right: 8px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4f4f7d;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
}

.header-title {
    margin: 0;
    font-size: 1.8rem;
    color: #f8f9fa;
    text-align: center;
    flex-grow: 1;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border: 3px solid #934a4a
}