.back-button {
    background-color: #934a4a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: static;
    flex-shrink: 0;
}

.back-button:hover {
    background-color: #a85656;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

.back-button span {
    margin-right: 8px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4f4f7d;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
}

.header-title {
    margin: 0;
    font-size: 1.8rem;
    color: #f8f9fa;
    text-align: center;
    flex-grow: 1;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border: 3px solid #934a4a;
}

.content {
    margin: 90px auto 20px;
    padding: 40px;
    max-width: 800px;
    line-height: 1.8;
    background-color: #ced0d1;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #333;
}

.content h2 {
    font-size: 1.8rem;
    color: #934a4a;
    margin-top: 20px;
}

.content p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
}

.content p:last-child {
    margin-bottom: 0;
}

.content a {
    color: #934a4a;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    text-decoration: underline;
    color: #a85656;
}

.content img {
    display: block;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

.farsi {
    direction: rtl;
}