.back-button {
    background-color: #934a4a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: static;
    flex-shrink: 0;
}

.back-button:hover {
    background-color: #934a4a;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

.back-button span {
    margin-right: 8px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4f4f7d;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
}

.header-title {
    margin: 0;
    font-size: 1.8rem;
    color: #f8f9fa;
    text-align: center;
    flex-grow: 1;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border: 3px solid #934a4a
}